@import url("fancybox/jquery.fancybox.css");
/* !Import */
/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Show vertical scrollbar */
html {
  overflow-y: scroll;
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}
/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, td img {
  vertical-align: top;
}
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}
/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}
/* webkit browsers add a 2px margin outside the chrome of form elements */button,
input,
select,
textarea {
  margin: 0;
}
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* Clear Floated Elements http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1;
}
/*------------------------------------*\
CLEARFIX
\*------------------------------------*/
/* Fix clearing issues as per: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* END RESET CSS *//* !Headings */
/* -------------------------------- */
/* Settings for font-size: 12px; & line-height: 18px;*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 7px;
}
h2 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 14px;
}
h3 {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 9px;
}
h4 {
  font-size: 1.5em;
  line-height: 0.8em;
  margin-bottom: 2px;
}
h5 {
  font-size: 1.167em;
}
h6 {
  font-size: 1em;
}
/*--- PARAGRAPHS ---*/
p {
  margin-bottom: 20px;
}
/* !Lists */
/* -------------------------------- */
ul, ol {
  margin: 0 0 20px 1.8em;
}
ul ul, ol ol {
  margin: 0 0 0 20px;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 0 20px 1em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 0 20px;
}
/* !Other */
/* -------------------------------- */
hr {
  margin: 0 0 20px 0;
  border: 0;
  border-bottom: 1px solid #333;
}
small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
big {
  font-size: 131.25%;
}
ins {
  background: #ffc;
  text-decoration: none;
}
abbr, acronym {
  border-bottom: 1px dotted #888;
  cursor: help;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/* !Code */
/* -------------------------------- */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/*
pre {
*	white-space: pre; CSS2
*	white-space: pre-wrap; CSS 2.1
*	white-space: pre-line; CSS 3 (and 2.1 as well, actually)
*	word-wrap: break-word; IE
*	
*	overflow-x: scroll;
}
*/
pre {
  white-space: pre;
  /* CSS 2.1 */

  word-wrap: break-word;
  /* IE */

  overflow-x: scroll;
}
/* !Input Elements */
/* -------------------------------- */
input, select {
  vertical-align: bottom;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
textarea {
  overflow: auto;
}
label {
  font-weight: bold;
  font-family: sans-serif;
}
/* Normal */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
  line-height: 9px;
  overflow-x: hidden;
  border: 1px solid #666;
  color: #666;
  padding: 9px;
  margin-bottom: 18px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
p input[type="text"],
p input[type="password"],
p input[type="tel"],
p input[type="number"],
p input[type="email"],
p input[type="url"],
p textarea {
  margin-bottom: 0 !important;
}
/* Focus */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 1px solid #c81414;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
radio, check {
  margin: 0 0 9px 0;
}
.form-desc {
  position: relative;
  top: -6px;
  margin-left: 10px;
  color: #999;
}
input  + .valid,
input  + .attention,
input  + .error,
input  + .invalid {
  display: inline;
  position: relative;
  top: -6px;
  margin-left: 10px;
}
input  + label {
  display: inline;
}
textarea {
  line-height: 18px;
}
textarea  + .invalid {
  display: inline-block;
}
/* !Text Highlight */
::-moz-selection {
  background: #c81414;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #c81414;
  color: #fff;
  text-shadow: none;
}
/* !Fieldset */
/* -------------------------------- */
fieldset {
  border: 1px solid #ccc;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 0;
  margin-bottom: 18px;
}
fieldset legend {
  background: none;
  font-weight: bold;
  padding: 0 24px;
}
/* !Alignment */
/* -------------------------------- */
.textcenter {
  display: block;
  text-align: center;
}
.textright {
  display: block;
  text-align: right;
}
img {
  margin: 0;
  height: auto;
  width: auto;
  margin-bottom: 18px;
}
p img {
  margin-bottom: 0;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-top: 0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
  margin-top: 0;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter {
  margin-top: 0;
  margin-bottom: 20px;
}
.wp-caption img {
  margin-bottom: 10px;
}
.wp-caption .wp-caption-text {
  text-align: center;
  color: #999;
}
#wpadminbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
/* 
 * Non-semantic helper classes 
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */

  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after {
    content: " (" attr(href) ")";
  }
  abbr:after {
    content: " (" attr(title) ")";
  }
  .ir a:after {
    content: "";
  }
  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */tr, img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('font/bebas-neue/BebasNeue-webfont.eot');
  src: url('font/bebas-neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('font/bebas-neue/BebasNeue-webfont.woff') format('woff'), url('font/bebas-neue/BebasNeue-webfont.ttf') format('truetype'), url('font/bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('font/league-gothic/League_Gothic-webfont.eot');
  src: url('font/league-gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('font/league-gothic/League_Gothic-webfont.woff') format('woff'), url('font/league-gothic/League_Gothic-webfont.ttf') format('truetype'), url('font/league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSansRegular';
  src: url('font/droid-sans/DroidSans-webfont.eot');
  src: url('font/droid-sans/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('font/droid-sans/DroidSans-webfont.woff') format('woff'), url('font/droid-sans/DroidSans-webfont.ttf') format('truetype'), url('font/droid-sans/DroidSans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSansBold';
  src: url('font/droid-sans/DroidSans-Bold-webfont.eot');
  src: url('font/droid-sans/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/droid-sans/DroidSans-Bold-webfont.woff') format('woff'), url('font/droid-sans/DroidSans-Bold-webfont.ttf') format('truetype'), url('font/droid-sans/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*------------------------------------*/
/* Clearfix Various elements
/*------------------------------------*/
.items-list,
.thumbs,
.skills,
#respond,
.main,
.sidebar,
.inside {
  zoom: 1;
}
.items-list:before,
.thumbs:before,
.skills:before,
#respond:before,
.main:before,
.sidebar:before,
.inside:before,
.items-list:after,
.thumbs:after,
.skills:after,
#respond:after,
.main:after,
.sidebar:after,
.inside:after {
  content: "";
  display: table;
}
.items-list:after,
.thumbs:after,
.skills:after,
#respond:after,
.main:after,
.sidebar:after,
.inside:after {
  clear: both;
}
/* -------------------- */
/* !Global Styles */
/* -------------------- */
body {
  margin: 0 auto;
  font-family: "DroidSansRegular", sans-serif;
  font-size: 12px;
  line-height: 20px;
  *font-size: small;
  color: #666;
  background: #fdfdfd;
  text-shadow: 0 1px 0 #fff;
}
/* !Hyperlinks */
a, a:active {
  color: #c81414;
  text-decoration: none;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
a:hover {
  color: #333;
  text-shadow: none;
}
/*a:active {
	position: relative;
	top: 1px;
}*/
/* !Typography & Ajustments*/
p a, small a, #individual-item a {
  color: #c81414;
  text-decoration: none;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
p a:active, small a:active, #individual-item a:active {
  color: #c81414;
  text-decoration: none;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
p a:hover, small a:hover, #individual-item a:hover {
  color: #fff;
  background: #c81414;
}
strong {
  font-family: "DroidSansBold", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BebasNeueRegular", sans-serif;
  color: #333;
}
h3 a, h5 a, h6 a {
  color: #333;
  line-height: 0;
}
h3 a:hover, h5 a:hover, h6 a:hover {
  color: #c81414;
}
h3 a:after, h5 a:after, h6 a:after {
  content: ' →';
  font-family: Arial, sans-serif;
  font-size: 12px;
  position: relative;
  top: -2px;
  padding-left: 3px;
  font-weight: normal;
}
h3.small a, h5.small a, h6.small a {
  color: #333;
  border-bottom: 1px dotted #ccc;
  line-height: 0;
}
h3.small a:hover, h5.small a:hover, h6.small a:hover {
  color: #c81414;
}
.sidebar h3 a:after {
  content: ' →';
  font-family: Arial, sans-serif;
  font-size: 12px;
  position: relative;
  top: -5px;
  padding-left: 3px;
  font-weight: normal;
}
/* Fix ie7 title hiding in widget areas */
.ie7 h3.small a {
  line-height: 18px;
}
h3.small {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 9px;
}
.ie7 h3.small a {
  margin-top: 30px;
}
.filltitle {
  display: block;
  height: 27px;
}
/* Images */
img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
a img {
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
a.fancybox {
  background: transparent !important;
}
a img:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.zoom a {
  background: transparent !important;
}
/* Limiting image sizes in different areas */
.content .main img {
  max-width: 700px;
}
.content .main.blog img {
  max-width: 580px;
}
.content.full img {
  max-width: 960px;
}
.sidebar img {
  max-width: 100%;
}
/* -------------------- */
/* !Layout */
/* -------------------- */
.fluid {
  width: 100%;
}
.inside {
  width: 940px;
  margin: 0 auto;
}
.tight {
  width: 800px;
}
/*Debug*/
body * {
  background: rgba(0, 0, 0, 0);
}
.debug {
  background: rgba(0, 0, 0, 0.1);
}
/* !Content Sections */
/* -------------------- */
h1.page-title {
  text-align: center;
  display: block;
  background: url(images/title-bg.png) repeat-x center center;
  height: 50px;
  margin-bottom: 36px;
}
h1.page-title span {
  line-height: 50px;
  padding: 0 20px;
  padding-top: 4px;
  display: inline-block;
  background: #fdfdfd;
}
/* -------------------- */
/* !Header */
/* -------------------- */
#top {
  height: 24px;
  background: url(images/top-bg.png) repeat-x top;
}
#header {
  background: url(images/menu-bg.png) repeat-x center left;
  height: 110px;
  margin-top: 46px;
  margin-bottom: 36px;
}
/* !Logo */
/* -------------------- */
a#logo {
  float: left;
  width: 110px;
  height: 110px;
  display: block;
  background: url(images/johnsardine-logo.png);
  margin-left: 56px;
}
a#logo img {
  display: none;
  margin: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* !Navigation */
/* -------------------- */
#navigation {
  font-family: "BebasNeueRegular", sans-serif;
  letter-spacing: 0.2pt;
  text-transform: uppercase;
  font-size: 2.3em;
  text-shadow: none;
  float: right;
  margin-top: 44px;
  /* 1st level */

  /* Dropdowns */

  /* Style */

}
#navigation a {
  color: #333;
}
#navigation a:hover {
  color: #666;
  text-decoration: none;
}
#navigation > ul > li > a {
  padding-bottom: 8px;
}
#navigation .current > a, #navigation .current_page_item > a, #navigation .current_page_ancestor > a {
  color: #c81414;
}
#navigation ul, #navigation li {
  margin: 0;
}
#navigation .menu {
  display: block;
  width: 100%;
  float: left;
}
#navigation > ul > li {
  margin: 0 12px;
}
#navigation ul ul {
  margin-left: -10px;
}
#navigation ul ul {
  background: #ffffff url(images/stripes.png);
  background: rgba(255, 255, 255, 0.8) url(images/stripes.png);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
#navigation ul ul li a {
  font-size: 18px;
  padding: 9px 3px 8px 10px;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
#navigation ul ul li a:hover {
  color: #fff;
  background: #c81414 url(images/stripes.png);
}
/* -------------------- */
/* !Main Sections */
/* -------------------- */
.main, .sidebar {
  background: rgba(0, 0, 0, 0);
}
.content .main {
  width: 700px;
}
.content .sidebar {
  width: 220px;
}
.content.full > * {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 18px;
}
.content.left .main {
  float: left;
}
.content.left .sidebar {
  float: right;
  margin-left: 20px;
}
.content.right .main {
  float: right;
}
.content.right .sidebar {
  float: left;
  margin-right: 20px;
}
/* -------------------- */
/* !Image Listing */
/* -------------------- */
ul.items-list {
  display: block;
  margin: 0;
  margin-left: -20px;
}
ul.items-list li {
  margin: 0;
  list-style: none;
  width: 220px;
  float: left;
  margin-left: 20px;
}
ul.items-list img {
  margin-bottom: 6px;
}
ul.items-list h4 a {
  color: #333;
  line-height: 1em;
}
ul.items-list h4 a:hover {
  color: #c81414;
  text-decoration: none;
}
ul.items-list.align-title h4 {
  margin: 0;
  float: left;
}
ul.items-list.align-title h4 a {
  height: 50px;
  width: 150px;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}
ul.items-list.fixed-height li {
  height: 270px;
}
ul.items-list.margin-adjust li {
  padding-bottom: 10px;
}
/* -------------------- */
/* !Vertical Menu */
/* -------------------- */
ul.vert-menu {
  font-family: "BebasNeueRegular", sans-serif;
  margin: 0;
  margin-bottom: 18px;
}
ul.vert-menu li {
  margin: 0;
  display: block;
  list-style: none;
  margin-bottom: 3px;
}
ul.vert-menu li.current > a {
  color: #fff;
  background: #c81414 url(images/stripes.png);
  text-shadow: none;
}
ul.vert-menu a {
  color: #333;
  display: block;
  font-size: 18px;
  padding: 11px 3px 10px 15px;
  background: url(images/stripes.png);
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
ul.vert-menu a:hover {
  color: #fff;
  background: #c81414 url(images/stripes.png);
  text-shadow: none;
}
ul.vert-menu ul {
  margin-top: 3px;
}
/* -------------------- */
/* !Blocks */
/* -------------------- */
.block {
  margin-left: -20px;
}
.block h3 a, .block h5 a, .block h6 a {
  border-bottom: 1px dotted #ccc;
}
.top-space {
  margin-top: 18px;
}
.block-1,
.block-2,
.block-3,
.block-4 {
  float: left;
  margin-left: 20px;
}
.block-1 {
  width: 220px;
}
.block-2 {
  width: 460px;
}
.block-3 {
  width: 700px;
}
.block-4 {
  width: 940px;
}
.widgets {
  margin: 18px auto 0;
  border-top: 1px dotted #ccc;
  padding-top: 18px;
}
/* --------------------------------------- */
/* !Icons */
/* --------------------------------------- */
.skills {
  margin: 0 0 18px 0;
}
.skills li {
  margin: 0;
  display: block;
  float: left;
  margin-right: 10px;
}
.skills span {
  border-right: dotted thin;
  margin-left: 10px;
}
.no-js .skills {
  margin-top: 9px;
}
/* --------------------------------------- */
/* !Pages and per-page adjustments */
/* --------------------------------------- */
#home-portfolio-items {
  padding-top: 10px;
  margin-bottom: 8px;
}
#home-portfolio-items h3 {
  padding: 10px 0 6px;
}
/* !Portfolio Item Page */
/* ------------------------------------ */
#individual-item {
  margin-bottom: 36px;
}
#item-gallery, #item-info {
  float: left;
}
#item-gallery {
  width: 580px;
  margin-right: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background: url(images/loader.gif) no-repeat center center;
}
#item-gallery .slides_container {
  width: 580px;
  height: auto;
  display: none;
}
#item-gallery .slides_container a {
  display: block;
}
#item-gallery .slides_container .slides_control * {
  margin-bottom: -7px;
}
#item-gallery img {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin: 0;
  width: 580px;
  height: auto;
}
#item-info {
  width: 340px;
}
.no-js #item-gallery {
  width: 580px;
  height: auto;
  overflow: hidden;
}
.no-js #item-gallery .slides_container {
  width: 580px;
  height: auto;
  display: block;
}
#individual-item ul.thumbs {
  margin: 18px 0 12px 0;
  display: block;
}
.no-js #individual-item ul.thumbs {
  display: none;
}
ul.thumbs li {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 10px 10px 0;
}
ul.thumbs a {
  display: block;
  width: 50px;
  height: 50px;
}
ul.thumbs img {
  display: block;
  margin: 0;
}
/* !Blog Page */
/* ------------------------------------ */
.blog {
  /* Blog Title */

  /* Article Info */

  /* Article Content Size */

  /* Post navigation adjustment */

  /* Blog Headings Ajustments */

}
.blog h2.title {
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 8px;
  margin-left: 120px;
}
.blog h2.title a {
  color: #333;
}
.blog h2.title a:hover {
  color: #c81414;
}
.blog .meta {
  width: 100px;
  float: left;
  margin-right: 20px;
  text-align: right;
}
.blog .post-content {
  width: 580px;
  float: left;
}
.blog .post-navigation {
  width: 580px;
  margin-left: 120px;
}
.blog article {
  margin-bottom: 18px;
}
.blog article h3 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 9px;
  border-bottom: 1px dotted #ccc;
}
.blog article h4 {
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 6px;
}
.blog article h5 {
  font-size: 1.5em;
  line-height: 0.8em;
  margin-bottom: 4px;
}
.blog article h6 {
  font-size: 1.167em;
}
.blog article img:first-child {
  margin-top: 5px;
}
.blog .sticky {
  border-left: 10px solid #c81414;
  margin-left: -10px;
}
/* Post Form */
#comment-form {
  margin-left: 120px;
  width: 580px;
}
/* !Comments */
/* ------------------------------------ */
#comments {
  /* Comments Level */

  /* 1st Level */

  /* 580*/

  /* 2nd Level */

  /* 3rd Level */

  /* 4th Level */

  /* 5th Level */

}
#comments header {
  margin-left: 120px;
}
#comments header hr {
  display: block;
  height: 9px;
  background: url(images/stripes.png);
  border: none;
}
#comments header h3 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-bottom: 6px;
}
#comments ul {
  overflow: hidden;
  margin: 0;
  clear: both;
}
#comments li {
  list-style: none;
  float: right;
  clear: both;
  margin: 0;
  margin-top: 18px;
  border-left: 1px dotted #ccc;
}
#comments .comment-thumb, #comments .comment-content {
  float: right;
}
#comments .comment-thumb {
  width: 72px;
  margin-right: 20px;
  margin-left: 26px;
  padding-top: 40px;
}
#comments .comment-thumb img {
  margin: 0;
  float: right;
  width: 50px;
  height: 50px;
}
#comments h4 a {
  color: #333;
  border-bottom: 1px dotted #ccc;
}
#comments h4 a:hover {
  color: #c81414;
}
#comments small {
  text-transform: lowercase;
}
#comments .comment-content {
  min-height: 120px;
  width: 580px;
  border-bottom: 1px dotted #ccc;
}
#comments > ul > li {
  border-left: 1px solid transparent;
}
#comments > ul > li:last-child .comment-content {
  border-bottom: none;
}
#comments > ul > li .comment-content {
  width: 580px;
}
#comments > ul > li > .comment-thumb {
  border: 0;
  width: 99px;
  margin: 0 20px 0 0;
}
#comments > ul > li > ul > li {
  width: 660px;
}
#comments > ul > li > ul > li .comment-content {
  width: 540px;
}
#comments > ul > li > ul > li > ul > li {
  width: 620px;
}
#comments > ul > li > ul > li > ul > li .comment-content {
  width: 500px;
}
#comments > ul > li > ul > li > ul > li > ul > li {
  width: 580px;
}
#comments > ul > li > ul > li > ul > li > ul > li .comment-content {
  width: 460px;
}
#comments > ul > li > ul > li > ul > li > ul > li > ul > li {
  width: 540px;
}
#comments > ul > li > ul > li > ul > li > ul > li > ul > li .comment-content {
  width: 420px;
}
#comments .comment-navi {
  display: block;
}
#comments .comment-navi strong {
  float: right;
}
#comments .comment-navi .nav-previous, #comments .comment-navi .nav-next {
  float: right;
}
#comments .comment-navi .nav-previous a, #comments .comment-navi .nav-next a {
  display: inline-block;
  margin-bottom: 18px;
  text-decoration: none;
  font-size: 13px;
  border: none;
  padding: 4px 12px;
  font-family: "BebasNeueRegular", sans-serif;
  color: #fff;
  background: #c81414 url(images/stripes.png);
  text-shadow: none;
  text-align: center;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  margin-left: 10px;
}
#comments .comment-navi .nav-previous a:hover, #comments .comment-navi .nav-next a:hover {
  background: #333333 url(images/stripes.png);
}
/* !Page */
/* ------------------------------------ */
.page .title {
  font-size: 3.5em;
  margin-bottom: 18px;
  margin-top: 4px;
}
/* !Pretty Form */
/* ------------------------------------ */
#respond {
  margin-left: 121px;
}
#respond .form {
  margin-top: 18px;
}
li #respond, .testform {
  border-bottom: 1px dotted #ccc;
}
li #respond input[type="text"], .testform input[type="text"] {
  width: 100%;
}
li #respond textarea, .testform textarea {
  width: 100%;
}
li #respond .input-container, .testform .input-container {
  width: 100%;
}
li #respond .form-fix, .testform .form-fix {
  padding-right: 20px;
}
.form {
  position: relative;
}
.form h3 {
  line-height: 1em;
  margin-bottom: 11px;
  display: block;
}
.form h3 + small {
  position: absolute;
  right: 0;
  top: 40px;
}
.form .caption {
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
}
.form .input-container {
  width: 580px;
}
.form .ie7 .input-container {
  margin-bottom: 18px;
}
.form label {
  display: inline-block;
}
.form input[type="text"], .form input[type="email"] {
  font-weight: bold;
  background: url(images/stripes.png);
  text-shadow: 0 1px 0 #fff;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.form input[type="text"]focus, .form input[type="email"]focus {
  border: 1px solid #c81414;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.form input[type="text"].half, .form input[type="email"].half {
  float: left;
  width: 258px;
  margin-right: 20px;
}
.form input[type="text"].half.last, .form input[type="email"].half.last {
  margin-right: 0;
}
.form input[type="text"].third, .form input[type="email"].third {
  float: left;
  width: 161px;
  margin-right: 18px;
}
.form input[type="text"].third.last, .form input[type="email"].third.last {
  margin-right: 0;
}
.form input[type="text"].wide, .form input[type="email"].wide {
  width: 200px;
}
.form input.third + input.third + input.third {
  margin-right: 0;
}
.form textarea {
  font-weight: bold;
  width: 559px;
  background: url(images/stripes.png);
  text-shadow: 0 1px 0 #fff;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  resize: vertical;
}
.form textarea:focus {
  border: 1px solid #c81414;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
/* ---------------------------------------------------- */
/* !Misc. Navigations */
/* ---------------------------------------------------- */
.page-link {
  border-top: 1px dotted #ccc;
  padding: 9px 0 0 9px;
}
.post-navigation .button a {
  font-size: 16px;
  padding: 8px 16px;
  line-height: 1em;
}
/* ---------------------------------------------------- */
/* !Global and Non-semantic Classes */
/* ---------------------------------------------------- */
.stripes {
  background: url(images/stripes.png);
}
hr.stripes {
  display: block;
  height: 9px;
  background: url(images/stripes.png);
  border: none;
}
.last {
  margin-right: 0;
}
.overflow {
  overflow: hidden;
}
.inline-block {
  display: inline-block;
}
.more {
  position: relative;
  top: -10px;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
a:hover.more {
  color: #fff;
  background: #c81414;
}
.symb {
  font-family: Arial, sans-serif;
}
.spacing {
  line-height: 1.1em;
  margin-bottom: 10px;
}
.mb {
  margin-bottom: 18px;
}
.mt {
  margin-top: 36px;
}
/* ---------------------------------------------------- */
/* !404 Page */
/* ---------------------------------------------------- */
.error-404 {
  margin-bottom: 36px;
}
.error-404 h2, .error-404 h1 {
  font-size: 10em;
}
/* !Buttons */
a.button,
.button a,
input[type="submit"],
input[type="button"],
button {
  display: inline-block;
  margin-bottom: 18px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  padding: 10px 18px;
  font-family: "BebasNeueRegular", sans-serif;
  color: #fff;
  background: #c81414 url(images/stripes.png);
  text-shadow: none;
  text-align: center;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
a.button:hover,
.button a:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: #333333 url(images/stripes.png);
}
a.button:active,
.button a:active,
input[type="submit"]:active,
input[type="button"]:active,
button:active {
  position: relative;
  top: 1px;
}
a.button.alignright,
.button a.alignright,
input[type="submit"].alignright,
input[type="button"].alignright,
button.alignright {
  float: right;
  clear: both;
}
a.button.full,
.button a.full,
input[type="submit"].full,
input[type="button"].full,
button.full {
  display: block;
  clear: both;
}
a.button.small,
.button a.small,
input[type="submit"].small,
input[type="button"].small,
button.small {
  font-size: 15px;
  padding: 4px 10px;
}
a.button.space,
.button a.space,
input[type="submit"].space,
input[type="button"].space,
button.space {
  margin-right: 9px;
}
a.button.neutral,
.button a.neutral,
input[type="submit"].neutral,
input[type="button"].neutral,
button.neutral {
  background: #333333 url(images/stripes.png);
}
a.button.neutral:hover,
.button a.neutral:hover,
input[type="submit"].neutral:hover,
input[type="button"].neutral:hover,
button.neutral:hover {
  background: #c81414 url(images/stripes.png);
}
a.button.half,
.button a.half,
input[type="submit"].half,
input[type="button"].half,
button.half {
  width: 42.2%;
}
a.button.half + .half,
.button a.half + .half,
input[type="submit"].half + .half,
input[type="button"].half + .half,
button.half + .half {
  margin-right: 0;
  float: right;
  clear: both;
}
input[type="submit"], input[type="button"] {
  padding-bottom: 8px;
}
input[type="submit"].full, input[type="button"].full {
  width: 100%;
}
/* Fix Hierarchical Margins */
p .button * {
  margin-bottom: 0 !important;
}
/* Messages */
.valid, .attention, .error {
  position: relative;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid;
  line-height: 19px;
  padding: 5px 10px;
  text-shadow: none;
}
.valid.fluid, .attention.fluid, .error.fluid {
  display: inline;
  padding: 5px 10px;
}
.valid.center, .attention.center, .error.center {
  text-align: center;
}
.valid.bold, .attention.bold, .error.bold {
  font-weight: bold;
  font-family: "DroidSansBold", sans-serif;
}
.valid {
  background-color: #bdf6c0;
  border-color: #83df7a;
}
.attention {
  background-color: #FFFBCC;
  border-color: #E6DB55;
}
.error {
  background-color: #FFEBE8;
  border-color: #e08a8a;
}
/* Form Validation Plugin Classes */
span.invalid {
  position: relative;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid;
  line-height: 19px;
  padding: 5px 10px;
  text-shadow: none;
  background-color: #FFEBE8;
  border-color: #e08a8a;
}
/* !Content Boxes */
.box {
  padding: 12px 18px 0 18px;
  border: 1px solid #c81414;
  clear: both;
  margin-bottom: 18px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.box.half {
  width: 45%;
}
.box.gray {
  background: url(images/stripes.png);
}
.box.alignright {
  float: right;
}
.box.alignleft {
  float: left;
}
/* !Pull */
.pull-left {
  margin-left: -100px;
}
.pull-right {
  margin-right: -100px;
}
/* !Modal Window */
/* -------------------------------- */
.overlay {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5) url(images/stripes.png);
}
.ie7 .overlay, ie8 .overlay {
  background: #ffffff url(images/stripes.png);
  opacity: .5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.modal {
  display: none;
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  padding: 20px 20px 10px 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  line-height: 19px;
  text-shadow: none;
}
.modal span.close {
  color: #c81414;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}
/* Blockquote */
blockquote {
  margin-left: 25px;
  border-left: 5px solid #666;
  padding: 5px 5px 5px 10px;
  margin-bottom: 18px;
  font-style: italic;
}
blockquote p {
  display: inline-block;
  margin: 0;
}
blockquote.left, blockquote.right {
  margin: 0 0 18px 0;
  position: relative;
  width: 50%;
  display: block;
  font-size: 1.2em;
  padding: 18px 18px 0 18px;
}
blockquote.left:before,
blockquote.right:before,
blockquote.left:after,
blockquote.right:after {
  font-size: 14em;
  font-family: serif;
}
blockquote.left p, blockquote.right p {
  margin-bottom: 18px;
}
blockquote.left {
  float: left;
  text-align: left;
  border: 0;
  border-left: 5px solid #666;
}
blockquote.left:after {
  color: #ddd;
  float: right;
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 10%;
  content: '”';
}
blockquote.right {
  float: right;
  text-align: right;
  border: 0;
  border-right: 5px solid #666;
}
blockquote.right:before {
  color: #ddd;
  float: left;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -10%;
  content: '“';
}
blockquote cite, blockquote em, blockquote i {
  font-style: normal;
}
/* Code Tags */
pre {
  position: relative;
  display: block;
  background: none;
  border-left: 8px solid #c81414;
  color: #666;
  line-height: 18px;
  padding: 0 18px 0 18px;
  margin-bottom: 18px;
  background: url(images/code.png);
}
/* !Tables */
/* -------------------------------- */
table,
th,
tr,
td {
  border: none;
  padding: 8px;
}
table {
  margin-bottom: 18px;
}
table caption {
  background: #eee;
  padding: 8px 0;
  font-weight: bold;
}
table a {
  font-weight: bold;
  font-family: "DroidSansBold", sans-serif;
}
table tbody tr {
  color: #666;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
table tbody tr:nth-child(even) {
  background: #eee;
}
table tbody tr:hover {
  background: #c81414;
  color: #fff;
  text-shadow: none;
  transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
table thead tr, table tfoot tr {
  color: #fff;
  background: #666;
  text-shadow: none;
}
table #next {
  text-align: right;
}
tr:hover ::-moz-selection {
  background: #fff;
  color: #c81414;
  text-shadow: none;
}
tr:hover ::selection {
  background: #fff;
  color: #c81414;
  text-shadow: none;
}
/* Wordpress Tag Cloud */
.tagcloud {
  margin-bottom: 20px;
}
/* --------------------------------------- */
/* !Home Slider */
/* --------------------------------------- */
#welcome {
  padding-bottom: 10px;
}
#welcome .alignleft {
  margin-right: 24px;
}
#welcome h2 {
  margin-top: 20px;
}
/* --------------------------------------- */
/* !Sidebar */
/* --------------------------------------- */
.sidebar > ul.wp_sidebar {
  margin: 0;
}
.sidebar > ul.wp_sidebar > li {
  list-style: none;
  margin: 0 0 18px 0;
}
.sidebar h3 {
  border-bottom: 1px dotted #ccc;
  line-height: 1.1em;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.sidebar img {
  max-width: 100%;
  height: auto;
  margin-bottom: 6px;
}
.searchform input[type="submit"] {
  margin-bottom: 0;
  padding: 4px 10px;
}
/* -------------------- */
/* !Footer */
/* -------------------- */
#footer {
  padding-top: 36px;
}
#footer p {
  border-top: 1px dotted #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer p span {
  float: right;
}
#footer > span {
  display: block;
  height: 9px;
  background: #333;
  border-top: 2px solid #c81414;
}
/* -------------------- */
/*	Hello Bar
/* -------------------- */
#hello_bar {
  background: #c81414 url(images/dark-stripes.png) center center;
  height: 40px;
  width: 100%;
  overflow: hidden;
  margin: -40px 0 0 0;
}
.hello-container {
  width: 980px;
  margin: 0 auto;
  text-shadow: none;
}
#hello_bar p {
  float: left;
  width: 900px;
  color: #fff;
  text-align: center;
  padding: 18px 0 0 0;
}
#hello_bar a {
  font-weight: normal;
}
#hello_bar .close a {
  color: #fff;
  /*text-indent: -9999px;*/

  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background-position: 0 0;
  margin: 20px 0 0 0;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.8em;
}
#hello_bar .close a:hover {
  background-position: 0 -18px;
  border: none;
}
#open_hello_bar {
  padding: 10px 15px;
  background: #c81414;
  position: absolute;
  margin: -100px 0 0 890px;
  z-index: 999;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
#open_hello_bar a {
  color: #fff;
}
/* -------------------- */
/* !Menus */
/* -------------------- */
.menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu {
  line-height: 1.0;
}
.menu ul {
  position: absolute;
  top: -999em;
  width: 7em;
  /* left offset of submenus need to match (see below) */

}
.menu ul li {
  width: 100%;
}
.menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */

}
.menu li {
  float: left;
  position: relative;
}
.menu a {
  display: block;
  position: relative;
}
.menu li:hover ul, .menu li.sfHover ul {
  left: 0;
  top: 1.3em;
  /* match top ul list item height */

  z-index: 99;
}
.hfix li:hover ul, .hfix li.sfHover ul {
  left: 0;
  top: 1.3em;
  /* match top ul list item height */

  z-index: 99;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
  top: -999em;
}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
  left: 7em;
  /* match ul width */

  top: 0;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
  top: -999em;
}
ul.menu li li li:hover ul, ul.menu li li li.sfHover ul {
  left: 10em;
  /* match ul width */

  top: 0;
}
/*** arrows **/
.sf-menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px;
  /* trigger IE7 hasLayout so spans position accurately */

}
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  /* IE6 only */

  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
}
a > .sf-sub-indicator {
  /* give all except IE6 the correct values */

  top: .8em;
  background-position: 0 -100px;
  /* use translucent arrow for modern browsers*/

}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
  /* arrow hovers for modern browsers*/

}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
  /* arrow hovers for modern browsers*/

}
